extends ../../layout/default.pug
include ../../mixins/pagination.pug
block main
    div(class="container main")
        div.row
            input(type="text" value=data.key id="myInput").col-xl-5.col-lg-5.col-md-12.col-sm-12.col-12
            button(type="button" class="btn btn-dark" onclick="myFunction()").col-xl-5.col-lg-4.col-md-12.col-sm-12.col-12 Ấn để sao chép!